.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.stat-card {
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 14px 16px;
  display: flex;
  /* Включаем флекс */
  align-items: center;
  /* Выравниваем график по центру вертикали */
  justify-content: space-between;
  min-height: 80px;
  box-sizing: border-box;
}

.stat-label {
  display: block;
  font-size: 11px;
  color: var(--text-muted);
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.stat-value {
  display: block;
  font-size: 20px;
  font-weight: 600;
  font-family: 'JetBrains Mono', monospace;
}


@keyframes alarmBlink {
  0% {
    border-color: rgba(239, 68, 68, 0.2);
    box-shadow: 0 0 5px rgba(239, 68, 68, 0);
  }

  50% {
    border-color: rgba(239, 68, 68, 0.8);
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.15);
  }

  100% {
    border-color: rgba(239, 68, 68, 0.2);
    box-shadow: 0 0 5px rgba(239, 68, 68, 0);
  }
}

.stat-card.alarm-blink {
  animation: alarmBlink 1s infinite ease-in-out;
}
